/*selektor znacznika */

p {
    color: red;
}


/* selektor id */

#paragraf {
    color: blue;
}


/* selektor klasy */

.jeden {
    color: darkgreen;
}

a,
span,
div {
    color: brown;
}
/* selektor bezpośredniego elementu potomnego */
li > a{
    color:darkcyan;
}
/* Selektor elementów potomnych */
div a{
    color:mediumvioletred;
}

/* selektor bliskigo rodzeństwa czyli stylowanie dotyczy kolejnego tylko następnego selektora przypadającego po opisanym selektorze w stylowaniu na tym samym poziomie */

h2+h3{
    color:orangered;
}

/* selektor rodzeństwa */
h4 ~ p{
    color:chartreuse;
}

/* selektor wykluczający - nadaje kolor z ostylowania wszystkim elementom potomnym poza elementami ktore maja klase .list-item2 */
ul>li:not(.list-last){
    color:cornflowerblue;
}

/* selektor kolejnego elementu pochodnego */
/*użycie "n" daje możliwość stylowania różnych wybranych selektorów np. 3n+1 - styluje selektory 1,4,7,10,13 itd.
zamiast liczby albo wzoru można użyć poniższych zapisów:
odd - nieparzyste 
even - parzyste
*/
ul>ol:nth-child(2n+0){
    color:deeppink;
}






