*{
    background-color: burlywood;
}
p{
    background-color: blueviolet;
}

/* pseudo selektory */

#par1::before,#par1::after{
    content:'*';
    color:#fff;
    font-size:1.5em;
}

#par2::first-letter{
    font-size:3em;
}

#par2::first-line{
    color:yellow;
}

a:visited{
    color:darkgreen;
}
a:hover{
    color:dodgerblue;
    font-size:30px;
}
a:active{
    color:fuchsia;

}
/* gdy klikniemy w inpucie, tlo inputa sie zmieni na wskazany ponizej kolor */
input:focus{
    background-color: darkcyan; 
}

p:target{
    background-color: blanchedalmond;
}

p:lang(en){
    background-color: chartreuse;
}

li:first-child{
    font-size:3em;
}

li:last-child{
    font-size:3em;
}
p span:only-child{
    text-decoration: line-through;
}
div:empty{
    width:200px;
    height: 600px;
    background-color: black;
}