*{
    background-color: burlywood;
}
p{
    background-color: blueviolet;
}

/* pseudo selektory */

#par1::before,#par1::after{
    content:'*';
    color:#fff;
    font-size:1.5em;
}

#par2::first-letter{
    font-size:3em;
}

#par2::first-line{
    color:yellow;
}

a:visited{
    color:darkgreen;
}
a:hover{
    color:dodgerblue;
    font-size:30px;
}
a:active{
    color:fuchsia;

}
/* gdy klikniemy w inpucie, tlo inputa sie zmieni na wskazany ponizej kolor */
input:focus{
    background-color: darkcyan; 
}